// import from node modules
@import '~swiper/swiper';
@import '~swiper/components/navigation/navigation';
@import '~swiper/components/pagination/pagination';

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
    Helvetica Neue, sans-serif;
  background-color: #1e2126;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

// Swiper CSS
.swiper-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin: 1rem;
  margin-top: 1px;
}

.swiper-slide {
  width: auto;
  display: flex;
  flex-wrap: wrap;
  position: relative;
}

// Styling for components
.show-container {
  display: flex;
  flex-wrap: wrap;
}

.show-list {
  margin: 0.5rem;
  width: 250px;
  color: #ffffff;
  border-radius: 3px;
  position: relative;
}

.show-title {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.3rem;
}

.show-list img {
  max-width: 100%;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
}

.show-list img:hover {
  scale: 1.05;
  transition-duration: 0.1s;
  cursor: pointer;
}

.header-bar {
  background: rgba(0, 0, 0, 0.23);
  width: 100%;
  position: inherit;
  padding: 0.8rem;
  display: flex;
  justify-content: space-between;
}

.search {
  font-size: 1.2rem;
  border-radius: 10px;
  border: 2px;
  padding: 0.25rem 0.75rem;
}

h2 {
  color: #ffffff;
  margin: 1rem;
  padding: 0.3rem;
}

.detail-list {
  display: flex;
  align-items: center;
  color: #ffffff;
  margin: 1rem;
  padding: 0.3rem;
}

.detail-info {
  margin: 1rem;
  padding: 0.3rem;
}

.detail-list img {
  max-width: 100%;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
  width: 450px;
}

.logo {
  display: inline;
  width: 75px;
  cursor: pointer;
}

.footer-bar {
  background: rgba(0, 0, 0, 0.23);
  width: 100%;
  position: inherit;
  bottom: 0;
  padding: 0.25rem;
  display: flex;
  justify-content: space-between;
}

h4 {
  color: #ffffff;
  margin: 1rem;
}

p {
  color: #ffffff;
  margin: 1rem;
}

.detail-list .detail-logo {
  width: 25px;
  max-width: 100%;
  display: inline-block;
  box-shadow: none;
  margin-right: 10px;
}

.hero-container {
  background-position: top;
  background-size: cover;
  color: #ffffff;
}

.hero-container .show-hero img {
  filter: brightness(40%);
  max-width: 100%;
  height: 50%;
  overflow: hidden;

  background-size: cover;
  background-position: center-top;
  position: relative;
}

.hero-container .show-hero img:hover {
  cursor: pointer;
}

.hero-container .show-hero {
  padding: 0.5 rem;
  position: relative;
}

.hero-title {
  position: absolute;
  display: block;
  top: 80%;
  left: 5%;
  transform: translate(0%, -80%);
  text-align: justify;
  height: 6rem;
  width: 60rem;
}

h1 {
  margin: 1rem;
}
