// import from node modules
@import '~swiper/swiper';
@import '~swiper/components/navigation/navigation';
@import '~swiper/components/pagination/pagination';

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
    Helvetica Neue, sans-serif;
  background-color: #1e2126;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

// Swiper CSS
.swiper-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin: 1rem;
  margin-top: 1px;
}

.swiper-slide {
  width: auto;
  display: flex;
  flex-wrap: wrap;
  position: relative;
}

// Styling for components
.movie-container {
  display: flex;
  flex-wrap: wrap;
}

.movie-list {
  margin: 0.5rem;
  width: 250px;
  color: #ffffff;
  border-radius: 3px;
  position: relative;
}

.movie-title {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.3rem;
}

.movie-list img {
  max-width: 100%;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
}

.search-bar {
  background: rgba(0, 0, 0, 0.23);
  width: 100%;
  position: inherit;
  padding: 0.8rem;
  display: flex;
  justify-content: flex-end;
}

.search {
  font-size: 1.2rem;
  border-radius: 10px;
  border: 2px;
  padding: 0.25rem 0.75rem;
}

h2 {
  color: #ffffff;
  margin: 1rem;
  padding: 0.3rem;
}
